.cdh-link{left:100px;color:#000!important;}
.navlink-link.fixed{top: 20px!important;
    right: 100px!important;}
body{overflow:hidden;}

.slider {
  max-width: 800px;
  height: 50px;
  margin: 20px auto;
  position: relative;
  font-size:20px;
  text-align:center;
  color:#000;
}
.slide1,.slide2,.slide3,.slide4 {
 /* position: absolute;*/
  width: 800px;
  height: 100%;
  font-size:40px;
}
.slide1 {
  
    animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;

} 
.slide2 {
 
    animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}
.slide3 {
   
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}
.slide4 {
   
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}
@keyframes fade
{
  0%   {opacity:0}
  20% { opacity: 1}
  40% { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade2
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 0}
  60% { opacity: 1}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 1}
  100% { opacity: 0}
}